.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 2px;
}

.node circle.selected  {
	fill: #505aff;
}

.node {
	cursor: pointer;
}

.node circle {
	fill: #fff;
	stroke: #4682B4;
	stroke-width: 2px;
}

.node--internal text {
	text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.node rect {
	fill: #fff;
	stroke: #4682B4;
	stroke-width: 2px;
}

rect.selected {
	fill: #8498f9;
}

circle.add-node {
	stroke-dasharray: 3, 3;
}